.ui-btnBar
    padding: 15px 40px

    .ant-btn
        margin-right: 30px

    .ant-upload

        .ant-btn
            background: #108ee9

            span
                margin-left: 0
                color: #fff

        .anticon-upload:before
            content: " "

.ui-btnBarCenter
    text-align: center

    .ant-btn
        display: inline-block