.ant-form-item

    .ant-col-8
        width: 38%

    .ant-form-item-control button
        margin: auto 20px

        &.reset-form
            color: #000;
            background-color: #ccc;
            border-color: #999;
        
        &.cancel-add
            color: #000;
            background-color: #fff;
            border-color: #999;