.ui-formDetail

    .ant-form-item
        float: left
        width: 50%
        margin-top: 20px        
        
        >div
            float: left

        &:nth-child(odd)
            padding-left: calc(50% - 280px)

    .btn
        width: 100%
        float: left
        margin-top: 30px

        button
            margin-right: 20px

        