body
    height: 100%

.lt-main
    position: absolute
    z-index: 1
    top: 10px
    bottom: 10px
    left: 10px
    right: 10px
    overflow-y: auto
    background: #fff
    min-width: 1166px
    box-sizing: border-box
    display: flex
    min-width: 1003px



/*内容区域*/
.tabmain
    border:1px solid #F3F3F3

.tabmain .tabGroup
    z-index: 3;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: auto;

.tabGroup::-webkit-scrollbar-thumb
  background:#FFA711;
  border-radius:4px;

.tabmain .tabGroup li
    line-height:30px
    padding-left:15px
    text-align:left
    cursor:pointer
    font-size:14px
    font-family:'Microsoft yahei'
    color:#666
    
.tabmain .tabGroup li.selectedTab
    padding-left:28px
    color:#1d9fd3
    font-weight:bold

.tabmain .tabContent
    padding:10px 30px
    background-color:#fff
    color:#777

// .tabContent p a
//     margin-right:15px
//     text-decoration:none
//     text-align:center
//     color:orange 
//     font-weight:bold

.tabContent h3
    margin-bottom:5px
    background:orange
    color:#fff
    font-size:14px
    font-weight:bold
    line-height:28px
    text-align:center


.tabmain .blueline
    position:absolute
    top:0px
    left:0px
    width:3px
    height:48px
    background:#1d9fd3
    overflow:hidden


.tabContent .witness p
    position:relative
    padding-left:20px

.tabContent .witness p em
    color:orange
    font-weight:bold
    
.tabContent .witness p a
    color:#666
    font-weight:normal
    display:block 
    line-height:24px 
    text-align:left

.tabContent .witness p a:hover
    background-color:#efefef

.tabContent .witness p .ele
    left:0px

.tabContent:target
    padding-top:48px

#container
    height:950px
    background:#fff
    // overflow:hidden
    position: relative
    left: 15%;
    top: 48px;
    width: calc(100% - 15%)

#slider
    position:absolute
    top:0px
    right:0
    width:6px
    border-radius:6px
    background:#ccc
    cursor:pointer
    width: 10px

.tabOption 
    line-height: 50px
    padding-left: 25px

.scrollbar .tabOption a
    color: #777
    display: inline-block
    width: 100%

#outerWrap 
    position: fixed
    z-index: 999
    width: 15%
    height: 90%
    background: #f7f7f7
    top:5%
    box-sizing: border-box
    -webkit-box-sizing: border-box
    padding: 10px

.tabOption a:active
    background: #1d9fd3
    
.tabOption a:active
    color:#fff

/*滚动条*/
.wrapacon
    position:relative
    float:left
    width:468px
    height:360px
    margin-top:5px
    overflow:hidden

.wrapaconlis
    position:absolute
    left:0
    top:0
    width:450px

.scrbar
    position:relative
    width:4px 
    height:355px
    border:1px solid #f4f4f4
    border-radius:20px
    background-color:#f4f4f4
    float:left
    left:443px
    margin-left:15px
    
.scrbar .barbg
    position:absolute
    right:-1px
    top:50px
    width:2px
    height:105px
    border:2px solid #dadada
    background-color:#dadada
    border-radius:20px

.search
    width: 100%
    height: 51px
    line-height: 51px
    text-align: left
    z-index: 999999
    background: #fff
    padding-left: 236px
    position: fixed
  
.search label
    width: 64px
    display: inline-block
  
.search input
    height: 21px
    padding-left: 3px


pre
    background: #f7f7f7
    padding: 10px
    margin-top: 10px


.version
    border:1px solid #ddd
    padding: 10px 20px
    margin: 20px 0 86px
    
    .name
        font-size: 15px

    .list
        margin-top: 10px
        font-size: 12px

.resourceGroups

    .name
        font-size: 25px
        color: #333

.resource

    .name
        font-size: 30px
        color: #333

    .detail
        margin: 0 0 20px
    
        p
            padding: 10px 0 0

.resources
    padding: 20px 0

    .name
        font-weight: bold
        font-size: 20px
        
    .detail
        padding: 10px 0 0

    .parameters
        padding: 10px 0 0

        .title
            padding: 0 0 5px
            font-weight: bold

.resourcesList

    dt
        margin: 20px 0 0
        color:#1d9fd3
        font-weight:bold
        font-size: 16px

    dd 
        .parameters
            // padding: 10px 0 0

            // .title
            //     padding: 0 0 5px
            //     font-weight: bold

            .list
                padding: 0 10px 10px
        img
            display:block