body
    height: 100%

    ::-webkit-scrollbar
        width: 10px
        height: 2px
        background-color: #f5f5f5

    ::-webkit-scrollbar-track
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1)
        border-radius: 10px
        background-color: #f5f5f5

    ::-webkit-scrollbar-thumb
        height: 20px
        border-radius: 10px
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1)
        background-color: #555

.lt-header
    width: 100%
    height: 50px
    text-align: left
    z-index: 999999
    background: #fff
    position: fixed
    clear: both
    box-sizing: border-box
    padding: 10px 20px
    box-shadow: 0 0 5px rgba(#000, 0.1)

    .logo
        float: left
        font-size: 20px
        font-weight: bold

    .search
        float: right
  
        label
            display: inline-block
            height: 30px
            line-height: 30px
        
        input
            height: 30px
            padding-left: 3px
            box-sizing: border-box

.lt-main
    position: absolute
    z-index: 1
    top: 60px
    bottom: 10px
    left: 10px
    right: 10px
    background: #fff
    box-sizing: border-box
    display: flex
    min-width: 1003px


    .lt-left
        width: 200px
        padding: 10px
        margin: 0 20px 0 0
        border-right: 1px solid rgba(#000, 0.05)

        .menu
            width: 100%
            height: 100%

            &::-webkit-scrollbar-thumb
                background:#FFA711
                border-radius:4px

            a
                color:#666

                &:hover
                    font-weight: bold

            .item
                padding: 0 0 10px

            .interfacesName
                padding: 0 0 0 10px

            li
                line-height:30px
                padding-left:10px
                text-align:left
                cursor:pointer
                font-size:14px

                

    .lt-right
        flex: 1
        overflow-y: auto
        padding: 0 20px 0 0

        .tabContent
            padding: 10px 0 40px
            margin: 0 0 40px
            border-bottom: 2px dotted #ddd
            position: relative

            &:after
                content: 'THE END'
                position: absolute
                bottom: -12px
                left: 48%
                right: 50%
                background: #fff
                width: 80px
                text-align: center

            .metadata
                border:1px solid #ddd
                padding: 10px 20px
                margin: 0 0 20px
                border-radius: 5px
                
                .list
                    font-size: 12px

            // .resourceGroups

            //     .name
            //         font-size: 25px
            //         color: #333

            .resource

                .name
                    font-size: 30px
                    color: #333

                .detail
                    padding: 0 20px
                
                    p
                        padding: 10px 0 0

            .resources
                padding: 20px 0 0

                .name
                    font-weight: bold
                    font-size: 20px
                    
                .detail
                    padding: 10px 20px 0

                .parameters
                    padding: 10px 0 0

                    .title
                        padding: 0 0 5px
                        font-weight: bold

            .resourcesList

                .action

                    .actionName
                        margin: 20px 0 0
                        color:#1d9fd3
                        font-weight:bold
                        font-size: 16px

                    .urlWrap
                        padding: 10px 0

                        .method
                            border: 1px solid #ddd
                            padding: 2px 5px

                        .uriTemplate

                            span

                                &:nth-child(odd)
                                    color: #db7f07

                                &:nth-child(even)
                                    color: #088c05

                    .detail
                        padding: 0 20px

                .parameters

                    .title
                        font-weight: bold
                        border-bottom: 1px solid #eee
                        padding: 10px 0

                    .list
                        padding: 0 10px 10px
                        
                        .item
                            padding: 10px 0
                            border-bottom: 1px solid #eee

                            .nameBox
                                position: relative

                                // .name
                                //     font-size: 18px

                                .tagWrap
                                    position: absolute
                                    top: -10px
                                    right: -98px
                                    width: 100px

                                    .tag
                                        border: 1px solid #ddd
                                        padding: 1px 3px
                                        border-radius: 5px
                                        font-size: 5px
                                        background: #fff
                                        float: left
                            .desc
                                padding: 0 0 0 100px

                            &:nth-child(odd)

                                .name
                                    color: #db7f07

                            &:nth-child(even)

                                .name
                                    color: #088c05

                .request

                    .title
                        font-weight: bold
                        padding: 10px 0
                        font-weight: bold
            
                .response

                    .title
                        font-weight: bold
                        padding: 10px 0
                        font-weight: bold

                pre
                    background: rgba(#000, 0.01)
                    padding: 20px
                    border: 1px solid rgba(#000, 0.05)
                    border-radius: 5px