.ui-table
    padding: 0 40px

    .ant-table-body

        .ant-table-tbody
            text-align: center

        .ant-table-thead tr th
            background: rgba(52, 161, 239, 0.69)
            color: #ffffff
            text-align: center
            border-left: 1px solid #e9e9e9
            
            &:last-child
                border-right: 1px solid #e9e9e9
        
        .ant-table-tbody tr td
            border-left: 1px solid #e9e9e9

            &:last-child
                border-right: 1px solid #e9e9e9

    .operation

        a
            margin: 1em

    .deleColor
        color: red
        cursor: pointer

    .ant-popover-buttons
        text-align: center
