@charset "utf-8";
html {
  color: #444;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  font-family: Microsoft Yahei, Arial, sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
body,
button,
input,
select,
textarea {
  font: 14px/1.5 "Microsoft YaHei", "Helvetica", "Helvetica Neue";
}
input,
select,
textarea {
  color: #444;
  font-size: 100%;
}
button {
  cursor: pointer;
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  text-align: inherit;
}
fieldset,
img {
  border: 0;
}
iframe {
  display: block;
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
q:before,
q:after {
  content: '';
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
i {
  font-style: normal;
}
ins,
a {
  text-decoration: none;
}
.fn-clear {
  zoom: 1; /* for IE6 IE7 */
}
.fn-clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
body .fn-hide {
  display: none;
}
body .fn-left,
body .fn-right {
  display: inline;
}
body .fileName a {
  width: 80px;
  height: 20px;
  margin: 14px 15px 0 10px;
  display: inline-block;
  color: #000;
}
body .fn-right {
  width: 200px;
  position: relative;
}
body {
  height: 100%;
}
.lt-header {
  width: 100%;
  height: 50px;
  text-align: left;
  z-index: 999999;
  background: #fff;
  position: fixed;
  zoom: 1;
  box-sizing: border-box;
  padding: 10px 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.lt-header:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.lt-header .search {
  float: right;
}
.lt-header .search label {
  display: inline-block;
  height: 30px;
  line-height: 30px;
}
.lt-header .search input {
  height: 30px;
  padding-left: 3px;
  box-sizing: border-box;
}
.lt-main {
  position: absolute;
  z-index: 1;
  top: 60px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  min-width: 1003px;
}
.lt-main .lt-left {
  width: 200px;
  padding: 10px;
  margin: 0 20px 0 0;
  border-right: 1px solid rgba(0,0,0,0.05);
}
.lt-main .lt-left .menu {
  width: 100%;
  height: 100%;
}
.lt-main .lt-left .menu::-webkit-scrollbar-thumb {
  background: #ffa711;
  border-radius: 4px;
}
.lt-main .lt-left .menu a {
  color: #666;
}
.lt-main .lt-left .menu a:hover {
  font-weight: bold;
}
.lt-main .lt-left .menu .item {
  padding: 0 0 10px;
}
.lt-main .lt-left .menu li {
  line-height: 30px;
  padding-left: 10px;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
}
.lt-main .lt-right {
  flex: 1;
  overflow-y: auto;
  padding: 0 20px 0 0;
}
.lt-main .lt-right::-webkit-scrollbar-thumb {
  background: #ffa711;
  border-radius: 4px;
}
.lt-main .lt-right pre {
  background: rgba(0,0,0,0.01);
  padding: 20px;
  margin-top: 10px;
  border: 1px solid rgba(0,0,0,0.05);
  border-radius: 5px;
}
.lt-main .lt-right .version {
  border: 1px solid #ddd;
  padding: 10px 20px;
  margin: 20px 0 86px;
}
.lt-main .lt-right .version .name {
  font-size: 15px;
}
.lt-main .lt-right .version .list {
  margin-top: 10px;
  font-size: 12px;
}
.lt-main .lt-right .resourceGroups .name {
  font-size: 25px;
  color: #333;
}
.lt-main .lt-right .resource .name {
  font-size: 30px;
  color: #333;
}
.lt-main .lt-right .resource .detail {
  margin: 0 0 20px;
}
.lt-main .lt-right .resource .detail p {
  padding: 10px 0 0;
}
.lt-main .lt-right .resources {
  padding: 20px 0;
}
.lt-main .lt-right .resources .name {
  font-weight: bold;
  font-size: 20px;
}
.lt-main .lt-right .resources .detail {
  padding: 10px 0 0;
}
.lt-main .lt-right .resources .parameters {
  padding: 10px 0 0;
}
.lt-main .lt-right .resources .parameters .title {
  padding: 0 0 5px;
  font-weight: bold;
}
.lt-main .lt-right .resourcesList dt {
  margin: 20px 0 0;
  color: #1d9fd3;
  font-weight: bold;
  font-size: 16px;
}
.lt-main .lt-right .resourcesList dd .parameters .list {
  padding: 0 10px 10px;
}
.lt-main .lt-right .resourcesList dd img {
  display: block;
}
