/* reset */
*{margin:0;padding:0;}
html { overflow: hidden; }
body{
    font:12px/1.7 Tahoma,\5B8B\4F53;
    -webkit-text-size-adjust:none;
    background-color:#fff;
    overflow:hidden;
}
h1,h2,h3,h4,h5,h6{
    *font-size:100%;
    font-weight:400;
}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,i,strong,th,var{
    font-style:normal;
    font-weight:normal;
}
ol,ul,li{
    list-style:none outside;
}
blockquote:before,blockquote:after,q:before,q:after{
    content:'';
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
caption,th{
    text-align:left;
}
input,textarea,select,button{
    font-family:inherit;
    font-size:inherit;
    *font-size:100%;
    font-weight:inherit;
    resize:none;
}
button{
    cursor:pointer;
}
:focus{
    outline:0;
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
.clr{
    *zoom:1;
}
.clr:before,.clr:after{
    content:"";display:table;
}
.clr:after{
    clear:both;
}
a{
    color:#487d98;
}
.colorange{
    color:orange;
}
.fbold{
    font-weight:bold;
}
.ml10{
    margin-left:10px;
}
.mt10{
    margin-top:10px;
}

/*内容区域*/
.tabmain{
    background: #F3F3F3;
    border:1px solid #F3F3F3;
}
.tabmain .tabGroup{
    float:left;
    width:7%;
    height:auto; 
    z-index:3;
    position: fixed;
}
.tabmain .tabGroup li{
    height:48px;
    line-height:48px;
    padding-left:8px;
    text-align:left;
    cursor:pointer;
     font-size:14px;
     font-family:'Microsoft yahei';
     color:#666;
    }
.tabmain .tabGroup li.selectedTab{
    padding-left:10px;
    background:#fff;
    color:#1d9fd3;
    font-weight:bold;
}
.tabmain .tabContent{
    padding:10px 10px;
    background-color:#fff;
    color:#777
}
.tabContent p a{
    margin-right:15px;
    text-decoration:none;
    text-align:center;
    color:orange; 
    font-weight:bold;
}
.tabContent h3{
    margin-bottom:5px;
    background:orange;
    color:#fff;
    font-size:14px;
    font-weight:bold;
    line-height:28px;
    text-align:center;
}
.tabContent dl{
    line-height:22px;
    margin-bottom:10px;
}
.tabContent dt{
    color:#1d9fd3;
    font-weight:bold;
}
.tabContent dd img{
    display:block;
}
.tabmain .blueline{
    position:absolute;
    top:0px;
    left:0px;
    width:3px;
    height:48px;
    background:#1d9fd3;
    overflow:hidden;
}

.tabContent .witness p{
    position:relative;
    padding-left:20px;
}
.tabContent .witness p em{
    color:orange;
     font-weight:bold;
    }
.tabContent .witness p a{
    color:#666;
    font-weight:normal;
    display:block; 
    line-height:24px; 
    text-align:left;
}
.tabContent .witness p a:hover{
    background-color:#efefef;
}
.tabContent .witness p .ele{
    left:0px;
}

#container{
    height:950px;
    background:#fff;
    overflow:hidden;
    position: relative;
    left: 6.8%;
    padding-right:130px 
}
#slider{
    position:absolute;
    top:0px;
    right:0;
    width:6px;
    border-radius:6px;
    background:#ccc;
    cursor:pointer;width: 10px;
}
#sliderParent{
    position:absolute;
    left:0;
    height:0;
    width:100%;
    z-index:999;
}
#outerWrap{
    position:relative;
    z-index:999
}

/*滚动条*/
.wrapacon{
    position:relative;
    float:left;
    width:468px;
    height:360px;
    margin-top:5px;
    overflow:hidden;
}
.wrapaconlis{
    position:absolute;
    left:0;
    top:0;
    width:450px;
}
.scrbar{
    position:relative;
     width:4px; 
     height:355px;
     border:1px solid #f4f4f4;
     border-radius:20px;
     background-color:#f4f4f4;
      float:left;
      left:443px;
      margin-left:15px;
    }
.scrbar .barbg{
    position:absolute;
    right:-1px;
    top:50px;
    width:2px;
    height:105px;
    border:2px solid #dadada;
    background-color:#dadada;
    border-radius:20px;
}
.search{
    width: 500px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
.search label{
    width: 64px;
    display: inline-block;
  }
.search input{
    height: 21px;
    padding-left: 3px;
}



