<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
     <link rel='stylesheet' href='/stylesheets/index.css'/>
    <script src="script/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/script/index.js"></script>
</head>

<body>
    <div class="lt-header">
        <div class="logo">APIMOCK</div>
        <!--
        <div class="search">
            <input>
        </div>
        -->
    </div>
    <div class="lt-main">
        <div class="ui-tableList">
            <% projectList.forEach((item)=>{ %>
                <div class="item">
                    <div class="item-name">
                        <a href="/project/<%=item.id %>">
                            <p class="item-interface"><%= item.name %></p>
                        </a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>
