<div class="metadata">
    <ul class="list">
        <% body.metadata.forEach(meta=>{ %>
            <li>
                <%= meta.name %>: <%= meta.value %>
            </li>
        <% }) %>
        <li> createdAt: <%= body.createdAt.toLocaleString() %></li>
        <li> updatedAt: <%= body.updatedAt.toLocaleString() %></li>
    </ul>
</div>