<% if(metadata && metadata.length){ %>
    <div class="metadata">
        <div class="name">文档信息</div>
        <ul class="list">
            <% metadata.forEach(meta=>{ %>
                <li>
                    <%= meta.name %>: <%= meta.value %>
                </li>
            <% }) %>
        </ul>
    </div>
<% } %>