<% if(parameters.length){ %>
    <div class="parameters">
        <div class="title">parameters:</div>
        <div class="list">
            <% parameters.forEach((parameter)=>{ %>
                <div class="item">
                    <span class="nameBox">
                        <span class="name">
                            <%= parameter.name %>
                        </span>
                        <span class="tagWrap">
                            <%- parameter.type && `<span class="tag type">${parameter.type}</span>` %>
                            <% if(parameter.required){%><span class="tag required">required</span><%} %>
                        </span>
                    </span>
                    <span class="desc">- <%= parameter.description %></span>
                </div>
            <% }) %>
        </div>
    </div>
<% } %>